fastapi
uvicorn[standard]
watchdog
python-dotenv
PyMuPDF
pytesseract
sentence-transformers
faiss-cpu
networkx
sqlalchemy
transformers
torch
python-multipart
ics
pytest
black
neo4j
sqlite3
openai-whisper
pip
setuptools
wheel